<%
  headerCols = "p-3 text-left"
  bodyCols = "p-3 font-bold"
%>

<div
  data-controller="search"
  data-search-searchable-fields-per-record-value="4"
>
  <input
    type="text"
    id="keyword"
    name="keyword"
    placeholder="Search by keyword"
    class="shadow border rounded w-full p-6 my-2"
    data-action="input->search#filter"
  />

  <div class="items-center justify-center bg-gray-900 rounded">
    <div class="overflow-auto lg:overflow-visible">
      <table class="table text-gray-400 border-separate space-y-6 text-sm">
        <caption class="caption-top my-4 uppercase">
          searchable Fields Are:
          <div data-search-target="listFieldsOutput" class="space-x-2"></div>
        </caption>
        <thead class="bg-gray-800 text-gray-500">
          <thead>
            <tr>
              <th class=<%= headerCols %>>Author Name</th>
              <th class=<%= headerCols %>>Author Pen Name</th>
              <th class=<%= headerCols %>>Author Country</th>
              <th class=<%= headerCols %>>Publisher Name</th>
              <th class=<%= headerCols %>>Title</th>
              <th class=<%= headerCols %>>Genre</th>
              <th class=<%= headerCols %>>Publishing Year</th>
              <th class=<%= headerCols %>>Rating</th>
              <th class=<%= headerCols %>>Original Language</th>
            </tr>
          </thead>
          <tbody class="bg-gray-800">
            <% @books.each do |book| %>
              <tr>
                <td data-search-target="searchable" id="author_name" class=<%= bodyCols %>>
                  <%= book.author_name %>
                </td>
                <td data-search-target="searchable" id="author_pen_name" class=<%= bodyCols %>>
                  <%= book.author_pen_name %>
                </td>
                <td id="author_country" class=<%= bodyCols %>><%= book.author_country_of_origin %></td>
                <td id="publisher_name" class=<%= bodyCols %>><%= book.publisher_name %></td>
                <td data-search-target="searchable" id="title" class=<%= bodyCols %>>
                  <%= book.book_title %>
                </td>
                <td id="genre" class=<%= bodyCols %>><%= book.book_genre %></td>
                <td id="publishing_year" class=<%= bodyCols %>><%= book.book_publishing_year %></td>
                <td id="rating" class=<%= bodyCols %>><%= book.book_rating %></td>
                <td data-search-target="searchable" id="original_language" class=<%= bodyCols %>>
                  <%= book.book_original_language %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>
